.navbar {
    width: 100%;
    padding: 15px 3%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(255, 0, 157);
    .logo {
        h1 {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
    .search {
        width: 250px;
        display: flex;
        align-items: center;
        input {
            width: 100%;
            padding: 8px 20px;
            border: 1px solid #fff;
            border-radius: 20px;
            outline: none;
            margin-right: 20px;
            &::placeholder {
                font-size: 14px;
                color: #333;
            }
        }
        .icon {
            width: 24px;
            cursor: pointer;
        }
    }
}